[2016-07-16 17:32] zilman opened #2 "Kubelet failed to detect running docker process when name is not `docker`"
v1.2 bug: [#26259](https://github.com/kubernetes/kubernetes/issues/26259)

This bit of indirection was surprising to find so I'm keeping a note here for reference. Should anybody run into this the workaround in the issue linked above works.

Seems to be resolved in 1.3.

[2016-07-18 16:06] #2 closed

[2016-07-18 19:11] zilman opened #3 "Intel Cluster Usage -- reset in 48 hours"
If you have access to one of the 20 nodes allocated to CNCF please be advised that I'm going to wipe those instances soon and save your work.

Also fess up to installing Anaconda when I wasn't looking. :)

[2016-07-20 07:56] zilman opened #6 "Ansible Provisioner via Packer can't connect to instance"
When run as:
packer build -debug

It's possible to successfully connect with the generated temporary key over plain old ssh as well as do an ansible ping (ansible all -i 52.40.138.235, -m ping --user=centos --key-file=ec2_amazon-ebs.pem).

However when packer gets to the point where it starts the ansible provisioner it fails to connect.

==> amazon-ebs: Connected to SSH!
==> amazon-ebs: Provisioni

[2016-07-20 16:01] namliz commented on #6
Aha: mitchellh/packer#3406
tty shenanigans, closing. Will run a little sed snippet to edit sudoers before the ansible provisioner.

[2016-07-20 16:01] #6 closed

[2016-07-20 16:07] dankohn opened #8 "CLA bot needs to show in progress status"
@caniszczyk I watched the [PR](https://github.com/cncf/demo/pull/7) that @bgrant0607 just submitted, and I'm concerned that the CLAbot is not quite configured correctly.

The issue is that when creating the pull request, the status API should show in progress from the CLAbot, to let the submitter know that it's running. Then, it should change to passed or failed.

Right now, it seems to show as gr

[2016-07-20 17:41] zilman opened #9 "skip-tags doesn't work for handlers"
https://groups.google.com/forum/#!msg/ansible-project/qXWpCJ1449E/Bh5XeCPB0MAJ

Unfortunate.

Specifically, one use case is when baking an image you might want to setup a service but stop just shy of starting it for the first time. Ansible service restart handlers really should support tags which in this instance are much more elegant than conditionals.

[2016-07-20 18:43] thelinuxfoundation commented on #8
The CLA check should show up immediately (GitHub knows it's a required status check), but grey (pending/waiting or some such) and then come back as green or red once the status API is sent from us.  If it's not, then Github must have changed something.  Can you send a screenshot of what it looks like when the pull request first happens?

[2016-07-20 19:40] #9 closed

[2016-07-25 14:04] #3 closed

[2016-07-25 21:19] zilman opened #19 "boinc client needs mice device"
https://setiathome.berkeley.edu/forum_thread.php?id=79537

/dev/input/mice is being used by boinc for entropy or something -- assuming X by boinc maintainers.. is a problem.

[2016-07-26 15:44] leecalcote commented on #19
Could be a short call with IBM today...

[2016-07-26 16:03] namliz commented on #19
It's taking tasks successfully and doing.. something. But there's not
enough feedback if it's completing tasks or the bug ruins it. Results get
delayed 24 hours.

The worst case scenario is having to pull in all of X as a dependency which
is terrible, but that would work around it.

On Tue, Jul 26, 2016, 5:44 PM Lee Calcote notifications@github.com wrote:

[2016-07-27 15:48] namliz commented on #19
Confirmed as warning and not a show stopper, closing.

[2016-07-27 15:48] #19 closed

[2016-07-27 18:28] zilman opened #20 "boinc unexpected behavior -- warnings, daily quota"
27-Jul-2016 18:22:46 [http://www.worldcommunitygrid.org/] Master file download succeeded
27-Jul-2016 18:22:51 [http://www.worldcommunitygrid.org/] Sending scheduler request: Project initialization.
27-Jul-2016 18:22:51 [http://www.worldcommunitygrid.org/] Requesting new tasks for CPU
27-Jul-2016 18:22:55 [World Community Grid] Scheduler request completed: got 0 new tasks
27-Jul-2016 18:22:55 [Worl

[2016-07-27 18:33] namliz commented on #20
Manually creating the slots directory makes that warning go away as well.

[2016-08-01 11:24] #20 closed

[2016-08-01 11:34] zilman opened #21 "Python2 vs Python3 for client side scripts"
As part of the demo there will be several scripts that can run on the client side.

Anything from a tiny utility that exposes a k8s service endpoint via route53 as a nice human friendly subdomain to a full fledged deployment automation script that rolls out and sets up the various resources that run on the cluster.

One way this question could be made irrelevant is by simply running all of that ou

[2016-08-01 15:34] zilman opened #22 "Proper Job fields via the REST API"
kubernetes/kubernetes#23599

So for historical reference, in your JSON:

                        "autoSelector": true,
                        ..
                 }

And also you at the top you must:

[2016-08-01 15:43] namliz commented on #22
Your YAML would look like:

[code]

Write in YAML and generate the json.

[2016-08-01 18:15] #21 closed

[2016-08-08 11:55] zilman opened #25 "Repeated creation/deletion of resources breaks cluster"
A successful run from bootstrapping a cluster to provisioning its needed resources all in one go has been happening for some time now.

With that being said, the development experience is one of tinkering.

And so on. Sometimes mysterious bugs pop up, connectivity issues, resources not addressable, time is spent chasing it.. a full cluster shutdown and trying again from scratch often ends up fixin

[2016-08-08 12:20] zilman opened #26 "Odd little Jinja template / Yaml bug"
Template file: [demo/Kubernetes/API/example.yaml.j2#L81](https://github.com/cncf/demo/blob/cebc13ebb9fda511b47f40c0695fb4ad51483a03/Kubernetes/API/example.yaml.j2#L81)

You can combine multiple yaml files into one with the '---' document separator. Standard yaml fare, common pattern with kuberentes deployment yaml files.

I've jinja templated this one and for some reason if I don't end with a fina

[2016-08-08 12:30] zilman opened #27 "Failed job garbage collection"
This list becomes a bit messy sometimes.

Leaving a note here to consider tweaking clean ups based on these settings:
http://kubernetes.io/docs/admin/garbage-collection/

Low priority.

[2016-08-08 12:44] namliz commented on #25
Yeah, this is definitely a thing:
kubernetes/kubernetes#25456

Another one to watch out for on top of these is creating a pod with a configmap based volume, before the configmap is created.

You would not expect a big deal, just add the configmap it wants and it will unstick -- nope, or delete the pod, nope, gets stuck there too.

[2016-08-08 12:51] leecalcote commented on #25
@zilman this is good to note and identify as a caveat in our write-ups.

[2016-08-08 12:55] namliz commented on #25
@leecalcote  I've had this experience on every combination of cluster I played with long enough. Whether its my bootstrap or the official install, 'etc.

At some point instead of being a human fuzzer it will be time to write one and contribute a test suite. This should definitely be hardened against in future k8s versions.

[2016-08-08 14:08] zilman opened #28 "ConfigMap backed volumes mounted as root"
Ref: kubernetes/kubernetes#2630, kubernetes/kubernetes#11319.

So lets say you have some configuration files and you throw them into a ConfigMap.
The pod you spin up mounts a volume and these files happily appear in, for example: /etc/config.

Great. Except that volume was mounted as root and your app demands different permissions to read those files.

[2016-08-08 16:30] zilman opened #29 "Missing Features for Complex Deployments"
kubernetes/kubernetes#1899 - Allow users to wait for conditions from kubectl and using the API
kubernetes/kubernetes#1542 - Support master election (think, building blocks for quorum based clusters like Mongo)

[2016-08-08 16:41] zilman commented on #29
https://github.com/cncf/demo/blob/master/Kubernetes/Docs/Advanced.md

[2016-08-15 12:49] #26 closed

[2016-08-15 12:51] namliz commented on #27
So opinion is now: lots of failed jobs/garbage, indicates anti-patterns.
Things are now designed better and as a result the list stays pretty readable. Closing.

[2016-08-15 12:51] #27 closed

[2016-08-15 12:52] #22 closed

[2016-08-15 12:52] #8 closed

[2016-08-18 20:21] andrewgdavis commented on #28
I ran into this problem also.  The work around was to make use of InitContainers to perform a git clone.

for details see https://github.com/kubernetes/minikube/issues/482

[2016-08-24 03:34] zilman opened #61 "Custom VPC domains trip up Controller"
See: kubernetes/kubernetes#23371

Stumbled across this by simply using a none default DHCP Option Set in my VPC.

[2016-08-30 12:43] zilman opened #62 "1.3.5 missing CNI binaries"
So up until now only having weave binaries in /opt/cni/bin/ worked and was documented as right way.

With 1.3.5 it silently stops working and after much head scratching and furious googling the only mention of this problem is here: kubernetes/kubernetes#30681

Turns out one has to manually pull in 0.3.0 of https://github.com/containernetworking/cni/releases into /opt/cni/bin. Repeating that info h

[2016-08-30 12:50] zilman opened #63 "intermittent kubedns responses for kubernetes service endpoints (1.3.5)"
kubernetes/kubernetes#28497

Tl;dr on this particular saga -- multiple people with various types of environments/clusters experience kubedns connectivity issues.

What this means is that if you lookup a service internal to the cluster it sometimes doesn't resolve. This is core functionality and a show stopper. Reproducible but currently we don't understand why (I've suggested MountVolumes which is

[2016-08-30 12:56] namliz commented on #63
Listing dupes here so I can close some browser tabs:
kubernetes/kubernetes#16836, kubernetes/kubernetes#30139, kubernetes/kubernetes#18934, kubernetes/kubernetes/#22161, kubernetes/kubernetes#22823

[2016-08-30 14:32] dankohn commented on #63
Love the video.

On Tue, Aug 30, 2016 8:56 AM, Eugene notifications@github.com wrote:
Listing dupes here so I can close some browser tabs:

kubernetes/kubernetes#16836 , kubernetes/kubernetes#30139 , kubernetes/kubernetes#18934 , kubernetes/kubernetes/#22161, kubernetes/kubernetes#22823

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on Gi

[2016-09-01 23:54] zilman opened #64 "More undocumented missing dependencies"
kubernetes/kubernetes#26093 is just a treasure trove I wish I'd seen before!

I've been finding and adding packages in one at a time, for example:

That's because brctl is part of bridge-utils, something you have to pull in. And so on. This list was sorely needed.

[2016-09-04 18:37] zilman opened #71 "Iptables/MASQUERADE support is insufficient"
kubernetes/kubernetes#17084, kubernetes/kubernetes#11204, kubernetes/kubernetes#20893, kubernetes/kubernetes#15932

It appears like this is the explanation for two related but separate show stopping problems.

One problem is that kubedns eventually forwards to the outside resolver, in AWS this would be something like 172.20.0.2 -- and AWS apparently doesn't respect traffic coming from a different

[2016-09-05 03:44] dankohn commented on #71
First, I'd like to see you write up a more detailed reproduction of this bug, either a new one or on one of those issues.

Second, I don't see why you can't continue work on the CNCF Community Cluster in the meantime.

[2016-09-08 16:13] #62 closed

[2016-09-08 16:13] #63 closed

[2016-09-08 16:13] #71 closed

[2016-09-13 00:56] zilman opened #97 "Boto vs Terraform"
[Boto3](http://boto3.readthedocs.io/en/latest/index.html) is the _Amazon Web Services (AWS) SDK for Python_.

[Terraform](https://www.terraform.io/intro/index.html) is a _higher level abstraction_ that provides additional features like multi-cloud support, [complex changesets](https://www.terraform.io/intro/getting-started/change.html), and so on.

Some people have embraced Terraform wholeheartedl

[2016-09-13 02:40] zilman opened #98 "A simple build system"
After a period of lots of little tweaks and modifications to nail down a bug the AMI count passed 100. That's getting a bit out of hand.

The workflow is to cd into the ansible directory of this repository, do ```packer build packer.sjon```, wait 15 minutes for the process to run through, manually alter which AMI is referenced in the bootstrap scripts, deploy a new cluster, and manually poke aroun

[2016-09-13 02:52] zilman opened #99 "Setting up a Bastion/Jump Server"
#### Mosh

The build server (#98) should greatly speed up things even for very stable connections because packer running within AWS will have by definition a tiny fraction of the latency than running from a laptop.

A Jump server with [Mosh](https://mosh.org/) should hopefully be of similar benefit for flakey wifi.
### Tmux

The build process is being altered to reduce the need to SSH into cluster

[2016-09-13 03:42] namliz commented on #97
# How Execution Plans are Unrolled

Once the bootstrap sequence above is built up you pass it off to an execute function:

[code]

As Willy Wonka once said, there's nothing to it. These three lines go far.

However, we're basically throwing away the result away (after printing it to the terminal), turns out sometimes it needs to be referenced down the line.

The above was fine to create everything

[2016-09-16 16:21] zilman opened #103 "Intermittent responses for Kubernetes service endpoints (postmortem)"
## Follow up to #63.
# Beginning of Problems

At some point in time a known-good deployment stopped succeeding on newly created clusters. This was caused by several disparate issues across several versions/configurations/components.
- Init containers would not progress because service availability checks would fail
- A service would appear to exist (`kubectl get svc`) and point at pods with correc

[2016-09-17 01:28] dankohn commented on #103
This is a great start. Could you please do another thorough edit, and then I'll give my comments over the phone Monday or Tuesday on where you're leaving out the story.

[2016-09-17 21:03] dankohn commented on #103
In particular, on your reread, please look at the following things, which are quite distracting:
- Please try to use capitalization consistently.
- Please try to use section headers in a consistent fashion. Preferably, make each section header a complete thought that summarizes the contents of that section. If not, name it something that describes what will be discussed in that section.
- Command

[2016-09-20 01:31] zilman opened #105 "Influxdb-grafana addon"
### Background

[Influxdb](https://www.influxdata.com/time-series-platform/influxdb/) is a timeseries data store.
[Grafana](http://grafana.org/) is a webapp that visualizes time series data and allows the creation of custom dashboards. It has support for several data sources, including influxdb (and more recently, Prometheus).

There are several slightly different versions of this pairing as a Kub

[2016-09-20 04:51] zilman opened #106 "Benchmark design proposal"
Note: This is very tentative and is pending discussion.

### Egress

HTTP Load is generated with WRK Pods, scriptable via Lua, and auto scaled by increments of 1000 rps (Each pod makes one thousand concurrent requests), up to 100 pods max.

WRK pods are pinned with the [affinity](https://github.com/kubernetes/kubernetes/blob/master/docs/design/podaffinity.md) mechanism to set of nodes A.

Given th

[2016-09-20 13:33] namliz commented on #106
### Boinc utilization fingerprint

<img src="http://i.imgur.com/55haNfS.png" width="50%">

It takes a minute to warm up, there's a small amount of network activity as it negotiates with the grid and gets a task, after which the pod will basically use all the CPU it is given. Start enough of these in parallel and the jitter smooths out.

[2016-09-20 14:12] dankohn commented on #103
Template: I expected `x`, I got `y`, based on `url`, I did `z` to fix the problem.

[2016-09-20 14:15] leecalcote commented on #103
Possible other template sections:
1. Expected Behavior
2. Actual Behavior
3. Steps to Reproduce
4. Resolution / Fix
5. Related Issues

[2016-09-21 23:10] leecalcote commented on #106
It'd be good to clarify what we're trying to measure (e.g. Countly’s   performance/reaction under load or Kube-proxy’s ability to keep up) and what we theorize the results to be. Reducing as many variables as possible (or allowing them to be fixed) in the experiment will help. Positively, even if the benchmark itself doesn’t produce valuable results, the Prometheus node exporter will be valuable.

[2016-09-21 23:35] namliz commented on #106
### One of the main points of benchmarking Kubernetes

I think we should be trying to show a cluster that across the board efficiently utilizes all of its resources. So memory, cpu, networking, and disk i/o, everything should hover around 85%-90% on all the nodes. And the sooner into the benchmark the better. Having idle resources in the cloud is wasting your money.

In theory, recreating this ben

[2016-09-21 23:48] leecalcote opened #109 "Benchmarking time to deploy"
Empirically, it'd be great to have a measurement of deployment time (or goal for) deployment of the demo project. In other words, identify how many minutes it typically takes someone to deploy k8s, prometheus and Countly using the cncfdemo.

[2016-09-22 12:45] jeremyeder commented on #106
Hey all -- I wanted to point you to some similar work we're doing to put load on a Kube cluster.
It's a part of our "cluster-loader" utility which was used on the CNCF environment last month.  We have developed and extended it further with a feature simply titled the wlg, or workload generator.

It is intended to put any mix of arbitrary, load on a cluster.  The cluster-loader is designed to use t

[2016-09-22 17:41] namliz commented on #106
@jeremyeder, this is very interesting.

Pretty obvious there's some overlap between our needs and approaches. I like the templates idea.

Currently the tools I've selected are Wrk for the HTTP load generation and Falcon (a performant Python microservices framework) for an echo/mocking server to simulate behaviour of services under various loads.

Flacon was selected by going over this [extensive l

[2016-09-23 12:58] jeremyeder commented on #106
Great!  You can get me on CNCF slack in #cluster as @jeremyeder

[2016-09-23 14:21] leecalcote commented on #106
@zilman "Currently the main effort is around spreading the pods around in the cluster in such a way that ensures a fair benchmark." Got it. This is more about testing the scheduler, the behavior of different strategies and performance of kube-scheduler.

[2016-09-23 14:30] leecalcote commented on #106
@jeremyeder thanks for calling out the cluster-loader (enjoyed your post). Is this tethered to OpenShift or Ansible in any way?

[2016-09-23 14:39] jeremyeder commented on #106
Ansible no.  OpenShift, there is a soft dependency there in that we added a "-k" option to it that flips to start using kubectl.  It's not tested thoroughly at the moment but it does at least work for some of our density tests that we run on Upstream kube.

Let's please find some time to hash this out.  We have a refactor coming which has enumerated (among other things) the need to create a librar

[2016-09-26 13:37] gmarek commented on #106
cc @gmarek @wojtek-t @fgrzadkowski

[2016-09-26 14:07] timothysc commented on #106
@zilman This really seems like tooling that should live here: https://github.com/kubernetes/perf-tests

Thoughts?

[2016-09-26 15:39] namliz commented on #106
@timothysc that makes sense to me.
We're having a call about this tomorrow, you're welcome to join, feel free to email me.

Lets move the discussion to kubernetes/perf-tests#5.

[2016-09-27 00:49] zilman opened #115 "Boolean values in YAML lead to unexpected behaviour"
[code]

rc.yaml:
[code]

[code]

The same thing happens if `true` is set to `yes`. When set to anything else like `foo` it succeeds with no complaints.  Kind of surprising if you try yes first.

[2016-09-27 00:57] namliz commented on #115
Labels are strings. So quoting them disambiguates it for the parser:

[code]

However you don't need to quote 'yes' when you label a node. And yes is not as expected a truthy value as 'true'. So leaving this issue up for anybody googling.

[2016-09-27 00:58] #115 closed

[2016-09-27 14:31] gmarek commented on #106
FYI: we're also planning on building something similar, though we have other goal. Namely we want to have a cluster-load (to reuse the terminology) to find scalability bottlenecks (whether it'd be an API server(s), kube-proxies, etcd, some controller).

This means we don't really care about fair benchmarking and comparing different providers, but we certainly care about the tools that can stress t

[2016-09-27 14:38] pskrzyns commented on #106
cc @ss7pro @mzylowski

[2016-09-27 15:11] zilman commented on #106
@gmarek what's your approach to finding scalability bottlenecks?

You might not care about comparing providers but I think you might want to ensure fair benchmarking. Simplest example I can think of:

Two minion cluster.

Minion A is running an echo server (just responds 200 OK to everything).
Minion B is running load generating pods.

If you don't pin the load generating pods to Minion B, or rath

[2016-09-27 16:08] #109 closed

[2016-09-27 16:10] leecalcote commented on #109
Are we going to insert timing markers to identify start/stop of different provisioning moments?

[2016-09-29 13:36] gmarek commented on #106
You're bringing up very important issue. The answer strongly depends on
what you want to get from the test. Pinning up Pods to Nodes will take away
all scheduling logic from the picture. Using Pod(Anti)Affinity is a bit
better, as long as it's scalable and allow some freedom (e.g. having only
one Node on which some Pod can run is probably a bad idea, as this Node can
die at any point of time). So

[2016-09-29 15:56] namliz commented on #106
@gmarek you got it, exactly right.

So there are situations where you might want to do both, pinning to nodes acts as a control. For instance, like you said, to simulate network throughput artificially and establish a baseline.

That sort of thing is helpful to design benchmarks that are more "normally" configured.

So since we're using the word 'framework' the aforementioned config files should a

[2016-09-29 16:27] gmarek commented on #106
Fair enough.

[2016-10-13 22:45] zilman opened #118 "Container execution checks utility for use with InitContainers/readiness/liveness probes (proposal)"
[Handling initialization](http://kubernetes.io/docs/user-guide/production-pods/#handling-initialization) is typically shown with simple commands such as 'wget' or 'cat' and is rather straightforward.

However, for non trivial conditionals this can get hairy.

### A contrived example

Consider an InitContainer that succeeds when a Service responds with 3 DNS endpoints.
At first glance it is a simpl

[2016-10-14 15:00] zilman opened #122 "Get distcc compiles working"
Specifically:

- pump mode
- reliably
- instrumented

[2016-10-14 15:03] zilman opened #123 "Single command load generation (Countly, Boinc)"
Currently countly goes from single command to available to ready to use after a few minutes.
We want to pepper over the manual steps left in setting it up and triggering WRK load against it.

Boinc is just a regular background job, nothing needed there.

[2016-10-14 15:06] zilman opened #124 "Demo output (version 0.1) - Show initial text results, images saved in folder"
Save the grafana png's as regular files instead of base64 json, dump in folder.

Text results, finally something we know to want to pull:
- Time from 'cluster ready' until distcc finished the compile
- CPU utilization percentages per node throughout this time
- Number of requests Countly handled meanwhile

[2016-10-14 15:07] zilman opened #125 "GCP support"

[2016-10-14 15:07] zilman opened #126 "Azure support"

[2016-10-14 15:08] zilman opened #127 "Kick off distcc on linux stable commits"
Poll https://git.kernel.org/cgit/linux/kernel/git/stable/linux-stable.git/ and pull on change

[2016-10-14 15:13] dankohn commented on #124
Please use RFC 3339 datetimes as folder name.

On Fri, Oct 14, 2016 8:06 AM, Eugene notifications@github.com
wrote:
Save the grafana png's as regular files instead of base64 json, dump in folder.

Text results, finally something we know to want to pull:
- Time from 'cluster ready' until distcc finished the compile
- CPU utilization percentages per node throughout this time
- Number of requests Cou

[2016-10-18 11:18] namliz commented on #122
Arch wiki is a good resource as usual:
https://wiki.archlinux.org/index.php/Distcc

The man page:
https://linux.die.net/man/1/distcc

Some common sense. Opting for Debian stable.

Distcc slaves should start first so master can get DISTCC_HOSTS/DISTCC_POTENTIAL_HOSTS as an environment variable in this case, without overly complicated discovery.

Will add what else I'm missing in next comment.

[2016-10-18 11:23] namliz commented on #122
distcc wants an ALLOWEDNETS environment variable to look for peers.

I'm going to cheat and just proceed with 10.244.0.0/16 which is good for my cluster, but this shouldn't be hard coded. Where exactly to pull the cluster subnets from is an interesting aside I'll add to the backlog instead of lingering on this now.

[2016-10-18 12:18] namliz commented on #122
https://lists.samba.org/archive/distcc/2007q4/003593.html

There was a zeroconf patch, it looks like it has been mainlined since it was announced because when even with `ZEROCONF="false"` I get:

[code]

While generally useful, I'd rather turn off zeroconf as it isn't necessary for our purposes. Looking for a way.

[2016-10-18 12:22] namliz commented on #122
https://ubuntuforums.org/archive/index.php/t-1747376.html

[code]

That's correct. Now it looks in: `/etc/distcc/hosts` as desirable. Onwards.
EDIT: DISTCC_HOSTS also clobbers correctly.

[2016-10-18 14:06] namliz commented on #122
What's left:

Replication Controller to start $(Number of Nodes - 1) slave replicas and a master distcc.
Need to pass the work to the master somehow, easy way out for the short term is just to bake a job script into the image.

#### Tear down
- Where to save compile artifacts
- Can I recycle these pods, might need to throw away after each compile actually. Check this.

For now might not have to ca

[2016-10-19 12:04] namliz commented on #127
It looks like the simplest possible thing is to just check for changes to where HEAD points - via http:
http://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git/refs/heads/master

(plaintext responds with `1001354ca34179f3db924eb66672442a173147dc` which of course is the latest commit)

[2016-10-20 08:43] namliz commented on #127
`git clone --depth 1` completes in under a minute (doesn't grab the massive history in the repository) as opposed to a regular clone that takes almost an hour(!).

[2016-10-20 12:51] namliz commented on #123
In trying this out end-to-end I've ran into a bit of a problem with tearing down a VPC.

[code]

There's some resource somewhere holding on that I'm not seeing.

[2016-10-20 13:02] namliz commented on #123
It was ELBs created by Kubernetes itself that need to be teared down or they block the VPC deletion.

[2016-10-21 11:09] namliz commented on #124
RFC 3339 as I read it results in something like `2016-10-21T11:03:06.83Z`.

The colons further get replaced with slashes as you can't use punctuation marks as part of a folder name. Maybe I've taken the RFC too literally (microseconds are not necessary).

[2016-10-21 15:18] zilman opened #137 "Resource Quality of Service in Kubernetes"
Background reading:

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/scheduler_algorithm.md
https://github.com/kubernetes/kubernetes/blob/master/docs/design/resource-qos.md

This issue is to discuss what were dealing with in the context of a demo.

[2016-10-24 19:14] zilman opened #143 "Centos 7 kdump service failed"
[code]

[code]

Just started happening, there's a somewhat newer centos7 AMI so going to that.

[2016-10-24 20:12] namliz commented on #143
Centos7 `ami-d2c924b2` improved this, kdump still fails sometimes, network doesn't. Will look into this.

[2016-10-24 20:13] #143 closed

[2016-10-25 09:16] zilman opened #144 "Kubernetes AWS problems with multiple security groups due to tags"
https://github.com/kubernetes/kubernetes/issues/23339, https://github.com/kubernetes/kubernetes/issues/26787

The Kubernetes Controller manages AWS resources by filtering on aws resource tags like `KubernetesCluster:ClusterName`. Unfortunately it does this inconsistently for different things.

[code]

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L2783

[2016-10-25 09:28] namliz commented on #144
Untagging `k8s-masters-cncfdemo` triggers the following events:

[code]

[2016-10-25 09:32] namliz commented on #144
This solves the problem (!) -- ELB's picked up the instances because the tag filtering didn't get confused and there's no external routes added to some services I deployed.

This should really be documented somewhere!

The other problem would be whether or not a cluster would standup cleanly because some other tag filtering code might do things slightly differently and actually need the k8s-master

[2016-10-25 13:37] namliz commented on #124
$ cncfdemo bootstrap aws cluster

#### Bootstrap

[code]

#### Deployment

[code]

#### Results

[code]

Note: the last link can be self-hosted as https://snapshot.cncfdemo.io pretty trivially if desired.

[2016-10-25 13:41] #105 closed

[2016-10-25 13:42] #25 closed

[2016-10-25 13:50] namliz commented on #122
Note on pump mode, apparently this is impossible to use when compiling a Kernel.

It starts off trying to distribute to the salves, then they get a "wrong result" and the master proceeds to compile locally and ignore the slaves. The slaves for some reason keep chugging along, I guess work that is already thrown away.

So the graphs looked right until I noticed the master finished with a slave stil

[2016-10-25 14:07] namliz commented on #137
Additional reference:

https://aws.amazon.com/ec2/virtualcores/
Kuberentes Docs: [Managing Compute Resources](http://kubernetes.io/docs/user-guide/compute-resources/)

---

The simple stratagem:
- Instance type with more than 1 vCPU
- Boinc and distcc are deployed as daemonsets conditional on a node selector
- Tag nodes to match only one of these ahead of time (which one depends on the demo flags)

[2016-10-25 14:38] namliz commented on #124
https://snapshot.raintank.io/dashboard/snapshot/YEnhozWAUlvLZPupRxrLnqN1ixOPY0Vy

[2016-10-25 14:53] dankohn commented on #124
- Please show the command you're using to generate run
- Can we give any indication of boinc work other than 0 completed
- Why are we dropping 24 K http requests?
- Add some output from distcc
- Fix container name in Grafana
- Take cpu usage number in Grafana at peak
- Generate network output

[2016-10-25 14:59] zilman opened #145 "Host the grafana snapshots on a dedicated server to the side"

[2016-10-25 18:52] dankohn commented on #124
Yeah, eliding colons and hyphens is fine.

On Fri, Oct 21, 2016 7:09 AM, Eugene notifications@github.com
wrote:
RFC 3339 as I read it results in something like 2016-10-21T11:03:06.83Z.

The colons further get replaced with slashes as you can't use punctuation marks
as part of a folder name. Maybe I've taken the RFC too literally.

—
You are receiving this because you commented.
Reply to this email

[2016-11-08 18:26] #61 closed

[2016-11-08 18:26] #64 closed

[2016-11-08 18:26] #99 closed

[2016-11-08 18:26] #103 closed

[2016-11-08 18:26] #127 closed

[2016-11-08 18:26] #124 closed

[2016-11-16 10:28] #144 closed

[2016-11-17 02:51] zilman opened #162 "Docker builds intermittently failing due to apt cache issues"
This is a pretty well known problem.

Docker caches aggressively so a common first line in your Dockerfile like `apt update` will not run each time and eventually the mirror list will become stale and builds will fail.

### Possible workaround #*1*

docker build `--no-cache`

### Possible workaround #*2*

`RUN apt-get clean && apt update`

While the above helps with stale mirrors it does not help

[2016-11-17 04:20] zilman opened #163 "CPU spike when pulling big containers can kill nodes & the whole cluster"
A Very Large Container can cause a huge CPU spike.

This is hard to pin point exactly, could be just docker pull working very hard, a kubelet bug, or something else.

<img width="266" alt="cpu-spike" src="https://cloud.githubusercontent.com/assets/646012/20376110/c53f6dc0-ac38-11e6-8e17-8739165171be.png">

Cloudwatch doesn't quite capture how bad this is, nodes freeze up to the point where you can

[2016-11-17 05:15] namliz commented on #163
Bigger instance types (m4) for the nodes did appear to help at first but one node froze up (albeit faster, after 2 minutes) and brought down the Weave daemon set. Seems to be a pathological container image.

I'll try redoing with a `FROM debian:wheezy` image. It is quite interesting that a container can freeze a node!

[2016-11-17 06:01] namliz commented on #163
Smaller image (210mb) worked just fine. I'm not at all sure this has to do with size, something was causing very bad cpu spikes on the nodes when they pulled them and quite possibly a kernel panic on the hosts.

I'm going to save it to the side and see if anybody is interested in exploring a pathological image. Could be a docker thing or a kubernetes thing.

[2016-11-17 10:32] zilman opened #164 "Grafana output discussion"
<img width="429" alt="overview" src="https://cloud.githubusercontent.com/assets/646012/20385551/af074e90-ac6c-11e6-851e-654a99f9bee2.png">

### Row By Row

- At the top there are two gauge views with spark charts in their background.
Left gauge is memory and right is CPU and totals underneath. This is meant as a quick cluster wide resource overview on the node level.

- Pod CPU shows the avg and c

[2016-11-17 12:41] jeremyeder commented on #163
It's probably just resource contention, but perhaps we can narrow it down.  On the problematic machine, can you share `dmesg` and the `journal` content from around the time of the pull?  Also do a `perf record -a -g -F 100` while the issue is occuring on the problematic machine.  Let it run for perhaps 10-20 seconds, then ctrl+c.  Then do `perf report > out.txt` ... Let's see what the CPUs are doi

[2016-11-18 14:17] namliz commented on #164
![out](https://cloud.githubusercontent.com/assets/646012/20433026/b799ee4c-ad56-11e6-8bb0-6bdbd5f516e8.gif)

[2016-11-18 16:50] dankohn opened #170 "Consider portable local cluster"
@zilman @leecalcote We were joking about you having a cluster that could fit in your backpack, but this one would probably speed up your debug cycles versus the latency of working with the cloud.

https://hackernoon.com/diy-kubernetes-cluster-with-x86-stick-pcs-b0b6b879f8a7
https://news.ycombinator.com/item?id=12985525

I will fund this as one of your deployment targets if you're interested.

[2016-11-18 17:36] namliz commented on #170
@dankohn this is neat and I'm interested just for playfulness of it to be honest, but it doesn't really speed things up.

`cncfdemo bootstrap aws cluster` runs in 5-6 minutes, what I'm really lacking is a bit of infrastructure to have more than one cluster (version) going at a time. But that's coming soon.

[2016-11-18 17:44] dankohn commented on #170
I'll close the issue but a reminder that it would make for a pretty cool live demo, and doesn't rely on conference Wi-Fi!

[2016-11-18 17:44] #170 closed

[2016-11-18 18:01] namliz commented on #170
That's also true, and it would be a lot of fun. This is a fine idea. Lets grab some for next con. I have reason to come by NYC around January so I can pick them up.

I'll research a nice safe model. If somebody is reading this and knows compute sticks chime in. :)

[2016-11-19 04:09] zilman opened #171 "Fluentd Use Cases"
<img width="446" alt="fluentd-architecture" src="https://cloud.githubusercontent.com/assets/646012/20452847/97a32834-adc8-11e6-9c5a-3533290537ba.png">

## Outside Kubernetes

#### Systemd logs archiving to S3

For lack of somewhere better to send to at the moment we can start by simply [archiving](http://docs.fluentd.org/articles/out_s3) these logs, particularly kube-apiserver with increased verbo

[2016-11-19 06:00] zilman opened #172 "OpenTracing"
As first steps it would be nice to instrument cncfdemo-cli, as it is a short & simple python script.
Appdash could be containerized and deployed unto a cluster as part of the demo to receive traces.

One open question currently is that Appdash will become available a few minutes _after_ the script is started. Hopefully its possible to patch the remote controller endpoint on the fly somehow or do s

[2016-11-20 21:07] rjhintz opened #173 "Doc: Two links to graphics in README.md broken"
Update: actually three graphics links

* Under [Three Groups](https://github.com/cncf/demo/blob/master/README.md#three-groups):

  * Broken link [1](https://raw.githubusercontent.com/cncf/demo/master/Docs/arch.png) should be https://github.com/cncf/demo/blob/master/docs/arch.png
  * Broken link [2](https://raw.githubusercontent.com/cncf/demo/master/Docs/k8s-simpler.png) should be https://github.co

[2016-11-21 13:05] #173 closed

[2016-11-29 00:06] zilman opened #175 "Grafana roundtrip json export/import bug"
Unfortunately I can reproduce this issue reliably: https://github.com/grafana/grafana/issues/2816

1) Create dashboard in Grafana 3
2) Export json file

Import json file manually (via Grafana web UI) works.
Import via API does not despite making the exact same API calls.

In other words, there's some additional json munging required, can't submit dashboard file as-is.
This is an inconvenience beca

[2016-11-29 01:01] namliz commented on #175
This is the dashboard json baked into current kube-grafana container:
https://github.com/cncf/demo/blob/master/Docker/grafana/dashboards/cncfdemo.json

This is how it roundtrips back out if you export it from the UI:
https://gist.github.com/zilman/4fde89c1d07d370e709559bb44274ffa

[The diff](https://www.diffnow.com/?report=95642):

[code]

Without injecting this blob it just fails to import progra

[2017-02-28 15:29] hh commented on #126
@zilman do you have same Azure creds I could use?
Cheers @hh

[2017-02-28 15:40] namliz commented on #126
@hh don't have credits for Azure on hand but I can try and get us some, meanwhile you get $200 for free at first I believe.

[2017-02-28 15:43] dankohn commented on #126
Gene, can you please give them admin access to the Azure account we setup.

On Tue, Feb 28, 2017 at 10:40 AM, Eugene <notifications@github.com> wrote:

--
Dan Kohn <mailto:dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation <https://cncf.io/>
tel:+1-415-233-1000

[2017-02-28 21:18] namliz commented on #126
@dankohn I can't, only ever used my personal free account (I think), not an admin on the main one - at least that's what it says when I go to the "Active Directory".

[2017-03-07 20:25] ronaldpetty opened #190 "Integrate CoreDNS"
Need to update demo app to include CoreDNS usage.

[2017-03-07 20:26] ronaldpetty opened #191 "Integrate GRPC"
Need to update demo app to include GRPC usage.

[2017-03-07 20:26] ronaldpetty opened #192 "Integrate LinkerD"
Need to update demo app to include LinkerD usage.

[2017-03-07 20:30] namliz commented on #191
@ronaldpetty agreed, if you have a none contrived example in mind I'm very open to suggestions.

[2017-03-07 20:36] namliz commented on #190
I have a pretty interesting use in mind for CoreDNS and welcome opinions:

By convention, the demo uses a url of the format for discovery: masters.{clustername}.k8s, minions.{clustername}.k8s.

Right now the glue for that is a Route53 Private Hosted Zones and a Lambda on the side that listens to AutoScaling events and syncs to the Zone. It works great but obviously is not portable between clouds.

[2017-03-07 20:37] caniszczyk commented on #190
cc: @miekg

[2017-03-07 20:38] namliz commented on #192
I'd be very interested in a discussion of demarcation lines between k8s and LinkerD features. There seems to be a bit of overlap and I'm currently mulling this over.

[2017-03-07 20:39] leecalcote commented on #192
I am as well.

[2017-03-08 09:50] miekg commented on #190
@johnbelamaric

Is this actually using k8s? Or just using these names?

I think I'm parsing this correctly....  If you use CoreDNS with etcd (version 2 only atm) as a backend and somehow get the AutoScaling events to update the state in etcd, this should work.

[2017-03-08 16:22] hh commented on #126
Working in branch https://github.com/cncf/demo/tree/azure

[2017-03-12 00:40] dankohn commented on #192
@wmorgan Could you please offer some suggestions for incorporating a linkerd demo into the code. We're particularly interested in uses that work with our sample applications but are not possible with vanilla K8s.

[2017-03-16 18:37] wmorgan commented on #192
Generally speaking, the demarcation is at request-level, as opposed to connection level, features. E.g. K8s provides layer 3/4 load balancing, which allows you to balance connections across a service. Linkerd provides request-level load balancing, which allows you to balance *requests* across a service. Request level is specific to the protocol, but allows you to do fancy things like pick destinat

[2017-03-16 19:03] namliz commented on #192
These are great, the first and last posts in that list crystalized some things for me.
I'm going to trying some ideas out and update this issue.

[2017-03-17 22:55] wmorgan commented on #192
Putting a couple notes here around an email exchange w/@zilman:

Yes, this is the problem with autoscaling by CPU! It's a bad metric to use because cpu utilization is very indirectly correlated with "we need more bandwidth" for I/O services. One thing that's been on the blog post todo list for us for a looong time is autoscaling based on latency. Linkerd service latency => Prometheus aggregation =

[2017-03-20 19:56] hh commented on #126
We had to migrate to a pay-as-you-go to get around as the free limits on cores is too low for quick-iterations on dev work. We will refactor for smaller instances later to allow free-tier to work after everything is functioning.

[2017-03-20 19:57] hh commented on #126
We seem to have triggered block on our API access from NZ.
(az login and API access seems to hit a firewall somewhere)

We moved to an IP in the states for now.

Is there someone at Microsoft that might be interested in supporting / unblocking us as we move along?

[2017-03-20 20:00] dankohn commented on #126
I'm hopeful @brendandburns might know someone who could send CNCF a few Azure credits.

[2017-03-20 21:16] brendandburns commented on #126
Can you send me the subscription ID (bburns [at] microsoft [dot] com) and I'll see what we can do on this side.

--brendan

[2017-03-21 00:06] hh commented on #126
@brendandburns done and thanks!

[2017-03-21 00:28] hh commented on #126
We started getting kubelet panics when we started using ```--cloud-provider=azure```

Took a while to come across: kubernetes/kubernetes#42576

Now we're off to generate ```--cloud-config=azure.json```

[code]

[2017-03-21 00:39] namliz commented on #126
Oh boy, on AWS all the stuff it wants in azure.json was simply *inferred* by Kubernetes (you'd just tag those resources with the cluster name and pass just that to it). This makes it much more convoluted.

This is an unfortunate discrepancy. As far as I know Azure also has the concept of tags.

[2017-03-21 00:41] hh commented on #126
Looks like we need to populate this manually:

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure.go#L38

[code]

[2017-03-21 00:48] hh commented on #126
Yea, would be nice to have this for Azure:

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/tags.go#L54

[code]

[2017-03-21 00:49] namliz commented on #126
Yes, you have no choice -- and that is not how the other providers are implemented:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L398

Could be an interesting thing to suggest upstream.

Edit: Jinx. :)

I haven't read the azure provider, do you think it would be messy to add this to it?

[2017-03-21 04:32] brendandburns commented on #126
@hh Please see https://github.com/Azure/acs-engine

I think you will find it a much more pleasant way to turn up an Azure kubernetes cluster.

I'll work on the subcription stuff.

[2017-03-21 15:58] hh commented on #126
We have been looking pretty heavily at the individual config generation parts at https://github.com/Azure/acs-engine/tree/master/parts

They've been useful in integrating the acs-engine approach.

[2017-03-21 17:42] hh commented on #126
Just starting multiple build/deploys at once on Azure, had to increase default core quota from 10 to 100. Should be able to do least ten concurrent builds soon.

[2017-03-24 03:58] zilman opened #196 "Prometheus resource usage "observer effect""
Prometheus has been performing admirably with the demo for a while now - the amount of points written to it is relatively small despite the varied workload. So this was as expected.

Turns out according to prometheus/prometheus#455 the amount of resources it uses is not just bound by how much is written into it but also how much it is queried. For instance, if you open Grafana in a dozen tabs you

[2017-03-27 09:39] dankohn opened #197 "Please replace minion terminology"
https://github.com/kubernetes/kubernetes/issues/1111

[2017-03-28 21:12] philips commented on #97
You may want to checkout the [Tectonic Installer](https://github.com/coreos/tectonic-installer) which deploys pure upstream Kubernetes self-hosted ([although with a todo](https://github.com/coreos/tectonic-installer/issues/133)) across AWS/Azure/OpenStack/etc.

[2017-03-29 16:30] colemickens commented on #126
RE: Azure relying on hostname == nodeName, this is due to lack of metadata service, so we make assumptions:  https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_instances.go#L98

[2017-04-01 17:46] SpamapS opened #198 "Port demo to OpenStack"
The demo should work well on OpenStack clouds. We'll fill in details here as we spec it out, but this is a call to collaborate for anyone else who wants the demo to work on OpenStack.

[2017-04-05 17:53] hh commented on #126
Great to meet you in Berlin @colemickens !

We really are cutting ourselves on some of the bleeding edges of kubernetes + azure + terraform on this one. :)

Let me know if you want some help in creating those upstream issues for azure / kubernetes we talked about here: https://github.com/cncf/demo/blob/fd21acc7655e849a8cdda9faf0c547fa2916a0dc/azure/readme.org#notable-issues

I opened issues for [t

[2017-04-05 18:30] colemickens commented on #126
* **Azure dns_zones do not provide IPs** - Please create a new issue on this repository so that I can get the appropriate folks into a thread with you. Otherwise I fear if I just take this internal I'm going to wind up being a middle-man between you and our folks.

* **Azure CNAME records don’t resolve correctly** - Same as the previous one. Need a bit more details on this too - an exact scenario

[2017-04-05 18:43] hh opened #199 "Azure dns_zones do not provide IPs"
https://github.com/Azure/azure-sdk-for-go/issues/583 has been tagged for investigation but this is somewhat a usability / API level issue.

[2017-04-05 18:45] hh commented on #199
This was created so we could use internal zones for the Azure cncf/demo#126

[2017-04-05 18:48] colemickens commented on #199
The point here being that they want to create Azure DNS Zones and then retrieve the nameservers and use them directly as their resolver. This is awkward today, because only the names are returned, forcing the user to resolve the name to an IP before being able to use it as the resolver. (Please correct if wrong, just wanted to summarize more)

[2017-04-06 13:07] stevexyz opened #200 "Phabricator on Cloud Native Landscape Project poster"
I was having a look on the Cloud Native Landscape Project poster and I noticed that Phabricator (an extremely good cloud code manager) is not even mentioned.

Is coming from Facebook, but now is open sourced and used by many, famous and less famous development teams (e.g. Wikimedia Foundation, Blender, FreeBSD, Twitter, etc. etc.).

Have a look on it if you don't know, I think it's worthwhile.

Be

[2017-04-06 14:04] namliz commented on #200
@stevexyz Are you saying you think it is worthwhile to include on the poster? Possibly so, but this is the repo for something else.

You can suggest feedback about the poster to @dankohn.

[2017-04-06 14:04] #200 closed

[2017-04-06 15:07] dankohn commented on #200
Apologies. @stevexyz can you please open an issue on https://github.com/cncf/landscape

[2017-04-06 18:50] hh opened #201 "GCE Support"

[2017-04-06 21:59] #196 closed

[2017-04-06 23:26] colemickens commented on #126
@hh, I've got an internal mail drafted, just waiting for cncf/demo issues for the other one (or two) issues listed the previous post. Then I can start getting the right folks to chime in. Thanks!

[2017-04-09 20:08] hh commented on #201
We'd like to logically group related resources such as virtual networks, load balancers, dns zones, and virtual machines (VMs) to deploy, manage, and maintain them as a single group.

On Azure we used [resource gorups](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/infrastructure-resource-groups-guidelines)

Spinning up a GCP project per branch / commit would allow that level of i

[2017-04-09 20:16] hh commented on #199
Looks like we are hitting the [bleeding edge](https://github.com/Azure/azure-sdk-for-go/issues/583#issuecomment-292677910
)  on this one. :)

[2017-04-09 20:19] hh commented on #126
Seeing that [private DNS zones](https://github.com/Azure/azure-sdk-for-go/issues/583#issuecomment-292677910) are not yet supported, I suspect that's why CNAME record resolution is broken.

[2017-04-11 17:38] gandelman-a opened #203 "Image builds should use ansible from upstream kubernetes"
I've been looking through the demo repository and looking at was to improve it.  Rather than maintaining a set of in-tree ansible playbooks to build images, it would make more sense to rely on the ansible roles provided in upstream at https://github.com/kubernetes/contrib/tree/master/ansible   The ansible there looks to be more complete and flexible.  It supports installing on different distro fla

[2017-04-11 21:35] namliz commented on #203
The upstream ansible and the ansible in this demo repo don’t necessarily tie into any larger approach, just vestigial leftovers. Everything is still in flux basically.

While there was some initial work on creating images with ansible/packer in this demo repo, the focus was never specifically on producing images, that is just an artifact of trying to get going quickly (I used to spin up and tear d

[2017-04-12 02:03] hh commented on #203
Hi @gandelman-a

### TLDR:

We’ve moved away from image creation and are focusing on deploy time customization via cloud-init using terraform. There are 50+ k8s deployment approaches out there. We have focused intentionally on ENV driven multi-cloud deploys of cncf project artifacts directly from upstream CI / release binaries and cloud-images. As @zilman said, everything is in a bit of flux, and

[2017-04-12 21:18] hh commented on #126
I've been spinning up AWS and Azure side by side, and I can confirm that the reason we needed a work around for CNAME was due to [Azure not yet providing support for private zones](https://github.com/Azure/azure-sdk-for-go/issues/583#issuecomment-292677910)

Our work around was to use multiple A records.

We have a working Azure deploy for now, even if we are abusing the public DNS service records

[2017-04-13 17:30] hh opened #205 "Locate upstream CI binary releases for CNCF Projects"
In order to integrate HEAD builds of projects for the cncf/demo, we need to locate existing CI builds for each of them.

These are the project so far:

* Prometheus
AddOns/Prometheus/deployment.yml [prom/prometheus:v1.3.0](https://github.com/cncf/demo/blob/a1d1b4e8084f52978218e0470b6543e756bdb47a/AddOns/Prometheus/deployment.yaml#L40)

* Fluentd
[reportstats](https://github.com/cncf/demo/blob/mast

[2017-04-13 18:34] hh commented on #205
@dlx can you add links to where should pull CI binaries from the k8s builds rather than coreos / hypecube?

[2017-04-13 18:46] hh commented on #205
### Prometheus Releases
No CI releases as of yet
There is a [reproducible load/performance test](https://github.com/prometheus/prombench), but binaries are released manually.

tarballs: https://github.com/prometheus/prometheus/releases/
containers: https://quay.io/repository/prometheus/prometheus?tab=tags

The [Solicitation of CI requirements conversation](https://github.com/prometheus/prometheus/

[2017-04-13 18:57] hh commented on #205
### Fluentd

No CI releases as of yet
CI test occur building the gem: https://travis-ci.org/fluent/fluentd/

Tarballs: https://github.com/fluent/fluentd-docker-image/releases
Gems: https://rubygems.org/gems/fluentd/versions

[2017-04-14 18:38] gandelman-a commented on #203
Hi guys, thanks for all the insights.. its quite valuable. I've been trying to grok where this repo is heading and I'll admit it's been a bit challenging, but this helps clear up a lot.

If I'm understanding both replies here correctly, it sounds like kubernetes provisioning/images/clouds/etc are all just a means to an end and all we really need is a kubernetes endpoint on which to run the demo/et

[2017-04-16 16:36] hh commented on #203
The repo is intended to be used to provision, deploy, and validate workloads.

I think the only difference in what you are describing is that we have shifted to customizing the stock cloud images at provisioning time, rather than saving a customized cloud image.

We currently gzip up all the [configuration for kubernetes services + certs](https://github.com/cncf/demo/blob/91aa5dfe215753ee75872158b

[2017-04-17 16:39] hh opened #207 "Packet - Bare Metal Cloud"
This one will be a bit different.

https://www.packet.net/bare-metal/

https://www.terraform.io/docs/providers/packet/index.html

Digging the Self Service BPG

[2017-04-17 16:49] hh commented on #207
https://help.packet.net/technical#api-automation

https://help.packet.net/technical/infrastructure/deploying-a-container-linux-coreos-cluster

https://help.packet.net/technical/infrastructure/custom-ipxe

[2017-04-17 16:53] hh commented on #207
Similar lines: https://www.packet.net/developers/guides/mesos-dcos-with-terraform/

https://www.terraform.io/docs/providers/packet/r/device.html#user_data

[2017-04-17 16:56] hh commented on #207
@zilman can I grab some creds / an account for Packet?

[2017-04-17 18:35] namliz commented on #207
@hh sending on backchannel

[2017-04-18 20:47] hh commented on #207
Currently takes about 4.5-6.5 minutes to deploy. DNS is an issue currently.
And we have a request to integrate CoreDNS cncf/demo#190

[2017-04-19 19:37] hh opened #212 "Bluemix"
Add Bluemix terraform deploy based on our aws, azure, gce, and packet code.

Looks like we'll need some https://github.com/IBM-Bluemix/schematics-onboarding#early-access
/cc ckelner

[2017-04-19 19:38] hh commented on #212
```Early access involves using an IBM supplied and custom-built Terraform binary from a users local machine (not publicaly available).```

Can we build the terraform binary from [IBM-Bluemix/terraform](https://github.com/IBM-Bluemix/terraform)?

[2017-04-19 19:47] hh commented on #212
/cc @ckelner

[2017-04-20 17:34] ckelner commented on #212
Hi there @hh -- I'll respond via the email thread you kicked off. We're working to get [IBM-Bluemix/terraform](https://github.com/IBM-Bluemix/terraform) up to snuff for public consumption -- we're currently working internally as of right now w/ a very near term goal to make the binary available publically.  Look for an email from me soon.

[2017-04-20 23:48] #203 closed

[2017-04-24 18:26] zilman opened #214 "Controlling the BOINC client via RPC"
Boinc has an [XML RPC](http://boinc.berkeley.edu/trac/wiki/GuiRpc) - "These RPCs send XML request and reply messages over a TCP connection. The XML formats are not documented, but can be inferred from the source code."

[code]

It is then necessary to md5(nonce, auth_token) and:

[code]

At this point the RPC might respond with successful authorization otherwise a new nounce needs to be requested

[2017-04-25 04:35] #214 closed

[2017-04-25 05:38] zilman opened #215 "Deployment versioning & parameterization (and how)"
Manifest
--------
- Terraform files that were used to spin up the cluster
  - and the version of Terraform binary
- Kubernetes binaries
- Overlay deployment (`kubectl apply -f {Weave, Flannel, Calico}.yml`)
  - These [all](https://kubernetes.io/docs/concepts/cluster-administration/addons/) seem to basically work on the principle of pulling in the latest minor version image of a major release pinne

[2017-04-25 14:03] namliz commented on #215
[Kubernetes CI CD Pipeline using Quay App Registry](https://coreos.com/blog/improving-kubernets-build-and-deployment-pipelines.html)

[Private Docker Registry in Kubernetes](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry) if we choose to self host.

[2017-04-26 21:12] hh opened #216 "GKE"
[google_container_cluster](https://www.terraform.io/docs/providers/google/r/container_cluster.html)

![image](https://cloud.githubusercontent.com/assets/31331/25457171/6af86568-2b29-11e7-9edd-ddb370b26e6b.png)

[2017-04-26 21:17] hh opened #217 "Azure Container Service Engine"

[2017-04-27 20:07] namliz commented on #215
Using Google Cloud Container Builder on a fork of this repo to the side as a temporary measure.

[2017-05-15 05:49] AnthonyWC commented on #71
Why is this closed?  It would be good to link to what solution was proposed (if any).

[2017-06-14 15:46] discordianfish commented on #126
@colemickens I just ran into panic-when-optional-config-keys-missing issue. Did you fill an issue for that? Can't find it.

[2017-06-14 19:48] colemickens commented on #126
@discordianfish I just filed: https://github.com/kubernetes/kubernetes/issues/47543

[2017-08-09 12:44] chunxiangli commented on #175
What would be the final solution for this problem. I tried that containerized grafana with baked json in
https://github.com/cncf/demo/blob/master/Docker/grafana/dashboards/cncfdemo.json
That still failed.

[2017-11-04 12:16] jacobsmith928 opened #225 "Adjust language about CNCF Community cluster in overview"
Currently the text reads as follows, which is outdated and could be replaced with text from the /cluster repo https://github.com/cncf/cluster

CNCF Community Cluster

Donated by Intel, a 1,000 node cluster of servers is running in Switch, Las Vegas, to be used by the CNCF community. Visit these links for a description of the cluster project page or to be involved in the cluster community.

[2017-11-04 12:24] dankohn commented on #225
Fixed, thanks.

[2017-11-04 12:24] #225 closed

[2017-11-14 16:09] vielmetti commented on #207
@hh this is open since April; is there an update on the DNS issue?

[2017-11-14 20:58] vielmetti commented on #190
This has been open since March; is there any progress of note?